<div class="wrapper">
    <h1><span class="glyphicon glyphicon-th-list"></span> List of customers</h1>
    <hr/>
    
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to '<span class="glyphicon glyphicon-th-list"></span> List'.html_safe, customers_path %></li>
          <li><%= link_to '<span class="glyphicon glyphicon-plus"></span> Add new'.html_safe, new_customer_path %></li>
          <li><%= link_to '<span class="glyphicon glyphicon-share"></span> Export'.html_safe, export_path %></li>
        </ul>
      </div>
    </nav>


    <div class="table-responsive">
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>User Id</th>
            <th>Date</th>
            <th>name</th>
            <th>Mobile no</th>
            <th>Email</th>
            <th>Telephone no</th>
            <th>Date of Birth</th>
            <th>Billing address</th>
            <th>Pin no</th>
            <th>Nationality</th>
            <th>Plan</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.connection_id %></td>
              <td><%= customer.date %></td>
              <td><%= customer.name %></td>
              <td><%= customer.mobile_no %></td>
              <td><%= customer.email %></td>
              <td><%= customer.telephone_no %></td>
              <td><%= customer.date_of_birth %></td>
              <td><%= truncate(customer.billing_address, length:50) %></td>
              <td><%= customer.pin_no %></td>
              <td><%= customer.nationality %></td>
              <td><%= customer.net_plan %></td>
              <td><%=link_to 'See details', customer_path(customer) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
