<div class="wrapper">
    <h1><span class="glyphicon glyphicon-plus"></span> Add new customer</h1>
    <hr/>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><%= link_to '<span class="glyphicon glyphicon-th-list"></span> List'.html_safe, customers_path %></li>
      <li class="active"><%= link_to '<span class="glyphicon glyphicon-plus"></span> Add new'.html_safe, new_customer_path %></li>
      <li><%= link_to '<span class="glyphicon glyphicon-share"></span> Export'.html_safe, export_path %></li>
    </ul>
  </div>
</nav>

    <div class="col-md-8 col-lg-7">
        <h3><b><span class="glyphicon glyphicon-user"></span> New customer</b></h3>
        <hr/>
        <%= form_for(@customer, html: {multipart: true}) do |f| %>
         <div class="row">
             <div class="form-group col-md-3">
                <%= f.label :date ,'Date'%>
                <%= f.text_field :date, class: "form-control", placeholder: "Enter application date." %>
             </div>
             <div class="form-group col-md-3">
                 <%= f.label :connection_id ,'User Id'%>
                 <%= f.text_field :connection_id, class: "form-control", placeholder: "Enter user id." %>
             </div>
             <div class="form-group col-md-6">
                 <%= f.label :name ,'Customer name'%>
                 <%= f.text_field :name, class: "form-control", placeholder: "Enter customer name." %>
             </div>
         </div>
         
         
         <div class="row">
             <div class="form-group col-md-3">
                 <%= f.label :date_of_birth ,'Date of birth'%>
                 <%= f.text_field :date_of_birth, class: "form-control", placeholder: "Enter date of birth." %>
             </div>
             <div class="form-group col-md-3">
                 <%= f.label :nationality ,'Nationality'%>
                 <%= f.text_field :nationality, class: "form-control",  placeholder: "Enter nationality." %>
             </div>
         </div>
         <div class="row billing-addr">
             <div class="col-md-12">
                 <div class="col-md-10">
                     <h4>Billing Address:</h4>
                 </div>
             </div>
             <div class="col-md-12">
                 <div class="form-group col-md-10">
                     <%= f.label :billing_address ,'Address'%>
                     <%= f.text_area :billing_address, :rows => 3, class: "form-control", placeholder: "Enter billing address" %>
                 </div>
             </div>
             <div class="col-md-12">
                     <div class="form-group col-md-4">
                         <%= f.label :pin_no ,'Area code/Pin code'%>
                         <%= f.text_field :pin_no, class: "form-control", placeholder: "Enter pin code."%>
                     </div>
                     <div class="form-group col-md-6">
                         <%= f.label :telephone_no ,'Telephone no'%>
                         <%= f.text_field :telephone_no, class: "form-control", placeholder: "Enter telephone no." %>
                     </div>
             </div>
             <div class="col-md-12">
                 <div class="form-group col-md-4">
                     <%= f.label :mobile_no ,'Mobile no'%>
                     <%= f.text_field :mobile_no, class: "form-control", placeholder: "Enter mobile no." %>
                 </div>
                 <div class="form-group col-md-6">
                     <%= f.label :email ,'Email'%>
                     <%= f.text_field :email, class: "form-control", placeholder: "Enter email id." %>
                 </div>
             </div>
         </div>
         <div class="row billing-addr">
             <div class="col-md-12">
                 <div class="col-md-4">
                     <h4>Installation Address:</h4>
                 </div>
                 <div class="col-md-6">
                     <div class="checkbox">
                         <label>
                             <input type="checkbox" id="planned_checked"> Same as billing address
                         </label>
                     </div>
                 </div>
             </div>
             <div class="col-md-12">
                 <div class="form-group col-md-10">
                     <%= f.label :installation_address ,'Address'%>
                     <%= f.text_area :installation_address, :rows => 3, class: "form-control", placeholder: "Enter billing address" %>
                 </div>
             </div>
             <div class="col-md-12">
                 <div class="form-group col-md-4">
                     <%= f.label :installation_pin_no ,'Area code/Pin code'%>
                     <%= f.text_field :installation_pin_no, class: "form-control", placeholder: "Enter pin code."%>
                 </div>
                 <div class="form-group col-md-6">
                     <%= f.label :installation_telephone_no ,'Telephone no'%>
                     <%= f.text_field :installation_telephone_no, class: "form-control", placeholder: "Enter telephone no." %>
                 </div>
             </div>
             <div class="col-md-12">
                 <div class="form-group col-md-4">
                     <%= f.label :installation_mobile_no ,'Mobile no'%>
                     <%= f.text_field :installation_mobile_no, class: "form-control", placeholder: "Enter mobile no." %>
                 </div>
                 <div class="form-group col-md-6">
                     <%= f.label :installation_email ,'Email'%>
                     <%= f.text_field :installation_email, class: "form-control", placeholder: "Enter email id." %>
                 </div>
             </div>
         </div>
         
         <div class="row billing-addr">
             <div class="form-group col-md-4">
                 <%=f.label :address_proof, 'Proof of address' %>
                 <%= f.file_field :address_proof, class: "form-control" %>
             </div>
             <div class="col-md-8">

                 <div class="col-md-6">
                   <div class="radio radio-primary">
                       <label>
                           <input type="radio" name="asd[custom_address_proof]" value="Partnership did" >
                               Partnership ded
                       </label>
                   </div>
                   <div class="radio radio-primary">
                     <label>
                        <input type="radio" name="asd[custom_address_proof]" value="Electricity bill" >
                         Electricity bill
                     </label>
                   </div>
                 </div>
                 <div class="col-md-6">
                   <div class="radio radio-primary">
                     <label>
                        <input type="radio" name="asd[custom_address_proof]" value="Water bill" >
                        Water bill
                     </label>
                   </div>
                   <div class="radio radio-primary">
                     <label>
                       <input type="radio" name="asd[custom_address_proof]" value="Telephone bill" >
                        Telephone bill
                     </label>
                   </div>
                 </div>
                 <div class="col-md-6">
                    <div class="radio radio-primary">
                        <label>
                            <input type="radio" name="xyz[custom_address_proof_other]" value=" " >
                                Others
                        </label>
                    </div>       
                 </div>
                 <div class="col-md-6">
                    <div class="form-group text_field_address_proof" style="display:none">
                        <%= f.text_field :address_proof_type, class: "form-control" %>
                        <small id="validate">If any other, please mention here.</small>
                    </div>       
                 </div>
             </div>
         </div>
         <div class="row billing-addr">
             <div class="col-md-4">
                 <div class="form-group">
                     <%=f.label :identity_proof, 'Proof of identity' %>
                     <%= f.file_field :identity_proof, class: "form-control" %>
                 </div>
                 <div class="form-group">
                     <%= f.label :identity_proof_no, "Id proof no" %>
                     <%= f.text_field :identity_proof_no, class: "form-control", placeholder: "Enter id proof no." %>
                 </div>
             </div>
             <div class="col-md-8">

                 <div class="col-md-6">
                   <div class="radio radio-primary">
                       <label>
                           <input type="radio" name="asd[custom_id_proof]" value="Passprt" >
                               Passprt
                       </label>
                   </div>
                   <div class="radio radio-primary">
                     <label>
                        <input type="radio" name="asd[custom_id_proof]" value="Ration card" >
                         Ration card
                     </label>
                   </div>
                   <div class="radio radio-primary">
                     <label>
                        <input type="radio" name="asd[custom_id_proof]" value="Form 16/Assessment" >
                         Form 16/Assessment
                     </label>
                   </div>
                   <div class="radio radio-primary">
                     <label>
                       <input type="radio" name="asd[custom_id_proof]" value="PAN card" >
                        PAN card
                     </label>
                   </div>
                 </div>
                 <div class="col-md-6">
                   <div class="radio radio-primary">
                     <label>
                        <input type="radio" name="asd[custom_id_proof]" value="Voter's id card" >
                        Voter's id card
                     </label>
                   </div>
                   <div class="radio radio-primary">
                     <label>
                       <input type="radio" name="asd[custom_id_proof]" value="Lease Agreement" >
                        Lease Agreement
                     </label>
                   </div>
                   <div class="radio radio-primary">
                     <label>
                        <input type="radio" name="asd[custom_id_proof]" value="VAT Registration" >
                         VAT registration
                     </label>
                   </div>
                   <div class="radio radio-primary">
                     <label>
                       <input type="radio" name="asd[custom_id_proof]" value="Service Tax" >
                        Service tax
                     </label>
                   </div>
                 </div>
                 <div class="col-md-6">
                    <div class="radio radio-primary">
                        <label>
                            <input type="radio" name="xyz[custom_id_proof_other]" value=" " >
                                Others
                        </label>
                    </div>       
                 </div>
                 <div class="col-md-6">
                    <div class="form-group text_field_id_proof" style="display:none">
                        <%= f.text_field :identity_proof_type, class: "form-control" %>
                        <small id="validate">If any other, please mention here.</small>
                    </div>       
                 </div>

             </div>
         </div>
         <div class="row">
             <div class="form-group col-md-4 plans-input-block">
                 <div class="plans" >
                     <%= f.label :net_plan ,'Plans'%>
                     <%= f.text_field :net_plan, class: "form-control", :readonly => true %>
                 </div>
                 <ul class="plan-list" id="plan-list">
                     <li value="599">599 / 10Mbps / 20GB / 512Kbps</li>
                     <li>649 / 2Mbps / 50GB / 512Kbps</li>
                     <li>699 / 50Mbps / 20GB / 512Kbps</li>
                     <li>777 / 5Mbps / 75GB / 512Kbps</li>
                     <li>999 / 20Mbps / 30GB / 512Kbps</li>
                     <li>1045 / 50Mbps / 50GB / 512Kbps</li>
                     <li>1399 / 20Mbps / 100GB / 512Kbps</li>
                     <li>700 / 1Mbps / Unlimited</li>
                     <li>1200 / 2Mbps / Unlimited</li>
                     <li>2200 / 4Mbps / Unlimited</li>
                 </ul>

             </div>
         </div>
         <div class="row billing-addr">
            <%= f.fields_for :payment_details do |payment| %>
                <div class="col-md-4">
                    <div class="form-group">
                        <%= payment.label :plan_cost, "Plan Cost" %>
                        <%= payment.text_field :plan_cost, class: "form-control", placeholder: "Enter plan cost" %>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <%= payment.label :plan_tax, "Plan tax" %>
                        <%= payment.text_field :plan_tax, class: "form-control", placeholder: "Enter plan tax" %>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <%= payment.label :monthly_payment_cost, "Monthly plan cost" %>
                        <%= payment.text_field :monthly_payment_cost, class: "form-control", placeholder: "Enter monthly payment cost" %>
                    </div>
                </div>
            <% end %>     
         </div>
         <div class="row">
             <div class="form-group">
                 <%= f.submit class: "btn btn-raised btn-primary" %>
             </div>
         </div> 
        <% end %>
    </div>
</div>

<script type="text/javascript">
    $("input:radio[name='asd[custom_address_proof]']").each(function(){
        $(this).change(function(){
            if($(this).prop('checked') == true) {
                var valuetrac = $(this).val()
                $("#customer_address_proof_type").val(valuetrac);
                $("input:radio[name='xyz[custom_address_proof_other]']").prop('checked', false);
                $(".text_field_address_proof").hide();
            }
            else
            {
               $("#customer_address_proof_type").val("");
            }
        });
    });
    $("input:radio[name='xyz[custom_address_proof_other]']").change(function(){
            if($(this).prop('checked') == true) {
                $(".text_field_address_proof").show();
                $("#customer_address_proof_type").val("").focus();
                $("input:radio[name='asd[custom_address_proof]']").prop('checked', false);

            }
    });
// for identity proof
    $("input:radio[name='asd[custom_id_proof]']").each(function(){
        $(this).change(function(){
            if($(this).prop('checked') == true) {
                var identityValue = $(this).val()
                $("#customer_identity_proof_type").val(identityValue);
                $("input:radio[name='xyz[custom_id_proof_other]']").prop('checked', false);
                $(".text_field_id_proof").hide();
            }
            else
            {
               $("#customer_address_proof_type").val("");
            }
        });
    });
    $("input:radio[name='xyz[custom_id_proof_other]']").change(function(){
            if($(this).prop('checked') == true) {
                $(".text_field_id_proof").show();
                $("#customer_identity_proof_type").val("").focus();
                $("input:radio[name='asd[custom_id_proof]']").prop('checked', false);

            }
    });
</script>