<div class="wrapper">
  <div id="page-heading">
    <h1><span class="glyphicon glyphicon-th-list"></span> List of plans</h1>
    <hr/>
  </div>  
    
    <nav class="navbar navbar-default customer-navbar">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to '<span class="glyphicon glyphicon-th-list"></span> List'.html_safe, gcn_plans_path %></li>
          <li><%= link_to '<span class="glyphicon glyphicon-plus"></span> Add new'.html_safe, new_gcn_plan_path %></li>
        </ul>
      </div>
    </nav>
    <br/>

    <div class="col-lg-6">
    	<div class="table-responsive resp-table">
    	  <table class="table table-striped bill-table">
    	    <thead>
    	      <tr class="info">
    	        <th>No</th>
    	        <th>Plan</th>
    	        <th>Price</th>
    	      </tr>
    	    </thead>
    	    <tbody>
    	      <% @plan.each do |plan| %>
    	        <tr>
    	          <td><%= plan.id %></td>
    	          <td><%= plan.plan_name %></td>
    	          <td><i class="fa fa-inr" aria-hidden="true"></i> <%= plan.plan_price %></td>
    	        </tr>
    	      <% end %>
    	    </tbody>
    	  </table>
    	</div>
    </div>
</div>
