<div class="wrapper">
  <div id="page-heading">
    <h1><span class="glyphicon glyphicon-th-list"></span> Add New Employee</h1>
    <hr/>
  </div>  
    
    <nav class="navbar navbar-default customer-navbar">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><%= link_to '<span class="glyphicon glyphicon-th-list"></span> List'.html_safe, employee_details_path %></li>
          <li class="active"><%= link_to '<span class="glyphicon glyphicon-plus"></span> Add new'.html_safe, new_employee_detail_path   %></li>
        </ul>
      </div>
    </nav>
    
 
    <div class="row">
    	<div class="col-md-3">
    		<h3><b><span class="glyphicon glyphicon-user"></span> New customer</b></h3>
    		<hr/>

    		<%= form_for @employee do |f| %>
    			<div class="form-group">
    				<%= f.label :name, "Employee name" %>
    				<%= f.text_field :name, class: "form-control", placeholder: "Enter employee name" %>
    			</div>
    			<div class="form-group">
    				<%= f.label :emp_id, "Employee Id" %>
    				<%= f.text_field :emp_id, class: "form-control", placeholder: "Enter employee id." %>
    			</div>
    			<div class="form-group">
    				<%= f.submit "create employee", class: "btn btn-md btn-danger" %>
    			</div>
    		<% end %>
    	</div>
    </div>
</div>