<!DOCTYPE html>
<html>
<head>
  <title>Gcnintraapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
	<%= render 'layouts/navbar' %>
	<div class="container alert-box">
		<% flash.each do |name,msg| %>
			<div class="container animated bounceInDown">
				<div class="row">
					<div class="col-md-offset-3 col-md-6">
						<div class="alert alert-dismissible alert-<%= "#{name}" %>">
						  <button type="button" class="close" data-dismiss="alert"><span class="glyphicon glyphicon-remove-circle"></span></button>
						  <b><%= msg %></b>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<div class="container-fluid">

		<div class="row">
			<div class="col-lg-2 side-bar">
				<ul class="nav sidebar-nav">
				  <li class="active"><%=link_to '<i class="fa fa-users" aria-hidden="true"></i> Customers'.html_safe, customers_path %></li>
				  <li><a href="#">Users</a></li>
				  <li><a href="#">Page 2</a></li> 
				</ul>
			</div>
			<div class="col-sm-11 col-lg-10 col-md-10 side-bar-contet" style="float:right">
				
				<%= yield %>
		  	</div>
		</div>
		
	</div>
</body>
</html>
